<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

      :host {
        display: block;
      }
    </style>
  <div class="container">
    <h1 class="row">
<h1 class="col-lg-l2">Gestor de clientes</h1>
  </div>

  <div class="row">
    <button on-click="obtenerCLientes" type="button" name="button" class="btn btn-success">Obtener clientes</button>
  </div>

<div class="row">
        <table class="table table-hover">
          <tbody>
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <td>[[item.CustomerID]]</td>
                <td>[[item.ContactName]]</td>
                <td>[[item.CompanyName]]</td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>



  </div>
</template>

          <script>
            /**
             * @customElement
             * @polymer
             */
            class GestorClientes extends Polymer.Element {
              static get is() { return 'gestor-clientes'; }
              static get properties() {
                return {
                clientes: {
                    type: Array//,
                  //  notify:true

                  }
                };

              }
          obtenerClientes() {
        var request = new XMLHttpRequest();
        request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.clientes = JSON.parse(request.responseText).value;
        console.log(this.clientes);
      }


          }
            window.customElements.define(GestorClientes.is, GestorClientes);
          </script>
        </dom-module>






    </div>
  </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'gestor-clientes'
          },
          prop2:{
          type: Number,
          value: 999
          }
        };
      }
      obtenerCLientes () {
              }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
